body {
    background-color: rgb(29, 29, 29);
    color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

textarea {
    width: 300px;
    height: 100px;
    background-color: rgb(29, 29, 29);
    color: wheat;
    
}

textarea::placeholder {
  color: wheat;
}

button {
    background-color: rgb(29, 29, 29);
    color: wheat;
    border-color: wheat;
    border-width: 3px;
    border-style: double;
}

.eg {
    cursor: pointer;
    text-decoration: underline;
}

